.card {
  //   width: 150px;
  height: 180px;
  background-color: green;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  &__status {
    border: 1px solid grey;
    width: fit-content;
  }
  &__status {
    background-color: red;
  }
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
