<div class="task">
  <h2>Task 1</h2>

  <section>
    <button (click)="loadUsers()">Load users</button>
    <div *ngIf="loading">loading...</div>

    <div class="container">
      <ng-template #empty>list is empty</ng-template>
      <ng-container *ngIf="users.length; else empty">
        <div class="container__title">Users: {{ users | usersname }}</div>
        <ng-container *ngFor="let user of users">
          <app-card [user]="user"></app-card>
        </ng-container>
      </ng-container>
    </div>
  </section>
</div>

<div class="task">
  <h2>Task 2</h2>

  <div class="block-container">
    <div
      class="block-container__row"
      *ngFor="let block of blockArray | addBlock: 7"
    >
      <div
        class="block-container__column"
        *ngFor="let block of blockArray"
        appColorOnHover
      ></div>
    </div>
  </div>
</div>
